<mat-toolbar class="header-toolbar">
  <span class="logo">
    <mat-icon>favorite</mat-icon>
    Health Risk Predictor
  </span>

  <span class="spacer"></span>

  <nav class="nav-links">
    <button mat-button routerLink="/dashboard" routerLinkActive="active-link">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button routerLink="/assessment" routerLinkActive="active-link">
      <mat-icon>assignment</mat-icon>
      Assessment
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active-link">
      <mat-icon>info</mat-icon>
      About
    </button>
  </nav>
</mat-toolbar>