<mat-toolbar class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-section">
      <span class="copyright">&copy; 2025 Health Risk Predictor. All rights reserved.</span>
    </div>
    
    <div class="footer-section">
      <span class="made-by">
        Made with 
        <mat-icon class="heart-icon">favorite</mat-icon> 
        by Muskan
      </span>
    </div>
    
    <div class="footer-section social-links">
      <a mat-icon-button href="https://github.com/MuskanZehra5" aria-label="GitHub">
        <mat-icon>code</mat-icon>
      </a>
      <a mat-icon-button href="https://www.linkedin.com/in/muskan-zehra-221819239/" aria-label="LinkedIn">
        <mat-icon>person</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>